[Unit]
Description=LED Matrix and Virtual Gamepad Service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=pi
Group=pi
Environment=NODE_PATH=/usr/local/lib/node_modules
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/home/pi/RBi4b-LED
ExecStart=/home/pi/RBi4b-LED/task.sh start
ExecStop=/home/pi/RBi4b-LED/task.sh stop
TimeoutStartSec=60
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/led-matrix.log
StandardError=append:/var/log/led-matrix.error.log

[Install]
WantedBy=multi-user.target